
/*header {
  background-color: #3b5998;
  height: 10px;
  margin:0 auto;
}*/
footer {
  background-color: white
  height: 30px;
}

#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
	height:1000px;
  background-color: #e9ebee;
 
}
body {
	background: #e9ebee;
	margin-top:55px;
}


#header {
    background-color:#3b5998;
    color: white;
	border:1px;

	
}

.white-text {
	margin-top:5px;
	padding:0px;
  color: white !important
}

#header ul .glyphicon {
    font-size: 20px;
	padding-right:-5px;
	padding-left:-5px;
	margin-top:-15px;
	margin-bottom:10px;
}

img {
	margin:10px;
}
.nav-height{
	height:42px;
}

.list-heading {

    padding: 0px 15px 0 15px;
    padding: 0px 15px 0 15px;
}

.black-text {
    color: black !important;
    margin-top: -8px;
    margin-bottom: 9px;
    padding-bottom: 2px;
    font-size: 12px;
    line-height: 20px;
    display: block-inline;
    padding: 0px !important;
}

.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 5px;
}
.panel-body .fa-share {
	 margin-left: 10px;
    margin-right: 5px;
	
}
.panel-body .fa-thumb {
	 margin-left: 10px;
    margin-right: 5px;
}.panel-body .tag1 {
	 margin-left: 10px;
    margin-right: 5px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}

.image-post {
    margin-bottom: 15px;
}

#main {
    overflow: auto;
}


#main::-webkit-scrollbar {
    display: none;
}

a .fa-camera {
	margin-right:5px;
	margin-left: 8px;

	
}

a .fa-video-camera {
	margin-right:5px;
	margin-left: 8px;
	
	
}

a .fa-pencil {
	margin-right:5px;
	margin-left: 5px;

	
}

p {
	display:inline;
	padding:8x;
	margin-left:5px;
}
	

.panel-body .tag1 {
	 margin-left: 10px;
    margin-right: 5px;
}


a .fa-facebook-official {
	margin: 9px 0px 25px 230px;
	height:25px;
	padding-bottom:5px;	
}
.control-button {
	height:24px;
	margin-left: -10px;
	margin-top:4px;

}

div .form-control {
	width:350px;
	margin-top:4px;
}

#tanu {
	width:360px;
	height:24px;

}

.para {
	font-size:15px;
	color:grey;
}


.main {
	color:#3b5998;
	font-size:18px;
	
	
}
div .panel-heading .white {
	background:white;
}

div .fa-gift {
	color:#F52C91;
	font-size:20px;
}


}
h5 {
	text-align: left;
	
}

#small {
	height:30px;
	width:120px;
}


ul .nav-stacked {
	padding-top:-2px;
	padding-bottom:-2px;
	
}

li .badge {
    margin-top: 11px;
    background: none;
    color: #909ebd;
    float: right !important;
}

div .panel-body .fa-smile-o {
	
	color: red;
}

div .panel-body .fa-meh-o {
	
	color: red;
}
.left {
	margin-left:0px;
	display:inline;
}
.leftpic{
	position:relative;
	margin-left:10px;
}
.comment {
    margin: 0;
}

.side-bar{
	background:white;
}

.tab-pane div{
	margin-left: 30px;
}
.trending {
	
	margin-top:20px;
}

.sponsored {
	float:right;
	
}
.nav-tabs{
	margin:0px;
	padding:0px!important
}	


.panel-body .img {
	
	float:center;
	
}
.nav-tabs>li{
    margin-right: -15px;
 
    border: 0px solid transparent;
    border-radius:none;
	padding:0px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0px ;
	margin-right:15px;

}
.panel-body .last {

margin-bottom:10px;
margin-top:10px;
padding:0px;
}
.media-object {
	margin-top:5px;
	margin-right:10px;
}

div .media-left {
	padding:0px;
}
#tabs {
	float:right;
	
}
.trend {
	margin-top:30px;
	float:left;
	
}

.bedge-like {

background:none;
color:#a4b5be
}

.nav-img {
	position:relative;
	top:-3px;
}
.nav-right {
	position:relative;
	bottom:-10px;
	right:210px;
}
.glyphicon-menu-down
{	margin-top:18px;
	float:right;
	color:grey;
	
}

.plus {
	float:right;
	
}


.time {
	position:relative;
    margin-left:60px;
    font-size:14px;
    color:grey;
}
.panel-title .left {
	position:relative;
    margin-left:15px;
	padding:10px;
}
.post-time {
	position:relative;
	top:-20px;
	left:58px;
	font-size:12px;
	color:grey;
}
.trend-p{
	margin-left:15px;
	}.
	
	
#nav-right-img {
position:relative;
top:-10px;


}	
#badge1{
	color:white;
	background-color:red;
	position:relative;
	top:-23px;
	border-radius:1px;
	padding:1px 2px 1px 4px;
	
}
.button-size {
	width:45%;
	height:30px;
	padding:0px;
	color:black;
	
}
.like-page {
	
	position:relative;
	left:-5px;
	top:-3px;
}
.embed-responsive {
	
	margin-bottom:15px;
}
#memory-bedge{
	border-radius:15px;
	background-color:rgba(0,0,0,0.5);
	position:relative;
	left:100px;
	bottom:-120px;
	padding:6px 2px 6px 2px;
}
.bedge2{
	
	background-color:transparent;
}
.glyphicon-time{
	color:white;
}

.Mem-share{
	position:relative;
	left:60%;
	background-color:#f6f7f9;
	border:1px solid #e9ebee;
	padding-left:0px;
}
.btn .btn-default{
	position:relative;
	left:50%;
}

@media (max-width: 1062px) {


body {
	background: #e9ebee;
	margin-top:55px;
}

a .fa-facebook-official {
	margin: 7px 0px 5px 5px;
	height:25px;
	padding-bottom:5px;	
}

}@media (max-width: 948px) {


body {
	background: #e9ebee;
	margin-top:55px;
}

a .fa-facebook-official {
	margin: 8px 0px 5px 120px;
	height:25px;
	padding-bottom:5px;	
}
 .nav-right {
    position: relative;
    bottom: -10px;
    right: 110px;
}
.control-button {
	height:24px;
	margin-left: -10px;
	margin-top:4px;

}

div .form-control {
	width:150px;
	margin-top:4px;
}
#tanu {
	width:200px;
	height:24px;

}
.Mem-share{
	position:relative;
	left:50%;
	background-color:#f6f7f9;
	border:1px solid #e9ebee;
	padding-left:0px;
}
#memory-bedge{
	border-radius:15px;
	background-color:rgba(0,0,0,0.5);
	position:relative;
	left:60px;
	bottom:-120px;
	padding:2px 2px 2px 2px;
	display:none;
}
.mem-bedge{
	background:transparent;
	
	
}
.glyphicon-time{
	color:white;
}

}
@media (max-width: 728px) {
	
	 .nav-right {
    position: relative;
    bottom: -10px;
    right: 0px;
}
a .fa-facebook-official {
	margin: 9px 0px 20px 33px;
	height:25px;
	padding-bottom:5px;	
}

.mem-bedge{
	background:transparent;
	
	
}
.glyphicon-time{
	color:white;
}

.Mem-share{
	position:relative;
	left:20%;
	background-color:#f6f7f9;
	border:1px solid #e9ebee;
	padding-left:0px;
}
#badge1{
	color:white;
	background-color:red;
	position:relative;
	left:-230px;
	top:-2px;
	border-radius:1px;
	padding:1px 2px 1px 4px;
	
}
.tag{
	display:none;
	
}
.glyphicon-menu-down
{	display:none;
	
}
.para{
	font-size:12px;
	color:grey;
}
.control-button {
	height:24px;
	margin-left: -10px;
	margin-top:4px;

}
div .form-control {
	width:50px;
	margin-top:4px;
}
#tanu {
	width:200px;
	height:24px;

}

}